.nav{
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
    font-size: 22px;
    }

    .item a{
        color: white;
        text-decoration: none;
    }

    .item a.active{
        color: gold;
    }

    .friends{
        margin-top: 40px;
        font-size: 35px;
        color: white;
    }

.friendsContent {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-area: c;

}