.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {

}

.dialogsitems {
    padding: 10px;
    color: white;
}
.dialogsitems .active{
    color: gold;
}

.messages {
    padding: 10px;

}

.messages{
color: white;
}

.avatarka{
    height: 20px;
}